.dash-page{
    height: 500px;margin: 10px; border-radius: 20px; box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}